﻿@page
@model RawCritic2.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active" style=" =background-image: url(@Model.GetGame(4).BigCover);">
            <img src="@Model.GetGame(4).BigCover" class="img-responsive" style="width:auto" />
            <div class="carousel-caption" role="option">
                <p>
                    
                    @{var releasedate = Model.GetGame(4).ReleaseDate; }
                  Release Date:  @Html.DisplayFor(m => m.GetGame(4).ReleaseDate)
                    

                    <a asp-page="./Games/Details" asp-route-id="@Model.GetGame(4).GameID">Details</a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="@Model.GetGame(24).BigCover" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Release Date:  @Html.DisplayFor(m => m.GetGame(24).ReleaseDate)

                    <a asp-page="./Games/Details" asp-route-id="@Model.GetGame(24).GameID">Details</a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="@Model.GetGame(25).BigCover" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Release Date:  @Html.DisplayFor(m => m.GetGame(25).ReleaseDate)

                    <a asp-page="./Games/Details" asp-route-id="@Model.GetGame(25).GameID">Details</a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Available now</h2>
       @foreach (var item in Model.GetGames(3))
        { var rating = item.AggregatedRating.ToString("N0");
            <ul>
                <li>
                    <nobr>
                        @if (item.AggregatedRating != 0)
                        {
                            @rating
                        }
                        else
                        {
                            @:?
                        } <a asp-page="Games/Details" asp-route-id="@item.GameID">      @Html.DisplayFor(modelItem => item.Title)</a> <img src="@item.Cover" height=" 50" style="border-radius: 60%" />
                    </nobr>
                </li>

                
                <li>
                    @Html.DisplayFor(modelItem => item.Platform)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Developer)
                </li>
                </ul>
                }
        </div>
    <div class="col-md-3">
        <h2>Upcoming Releases</h2>
        @foreach (var item in Model.GetUpcoming(3))
        {
              var rating = item.AggregatedRating.ToString("N0");
            <ul>
                <li>
                    <nobr>
                        @if (item.AggregatedRating != 0)
                        {
                            @rating
                        }
                        else
                        {
                            @:?
                        }<a asp-page="Games/Details" asp-route-id="@item.GameID">      @Html.DisplayFor(modelItem => item.Title)</a> <img src="@item.Cover" height=" 50" style="border-radius: 60%" />
                    </nobr>
                </li>
               
                <li>
                    @Html.DisplayFor(modelItem => item.Platform)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Developer)
                </li>
            </ul>
        }
        </div>
    @*<div class="col-md-3">
        <h2>Reviewed today</h2>
        @foreach (var item in Model.GetReviewedToday(5))
        { var rating = item.AggregatedRating.ToString("N0");
            <ul>
                <li>

                    <nobr>
                        @if (item.AggregatedRating != 0)
                        {
                        @rating
                        }
                        else
                        {
                            @:?
                        }<a asp-page="Games/Details" asp-route-id="@item.GameID">  @Html.DisplayFor(modelItem => item.Title)  </a><img src="@item.Cover" height=" 50" style="border-radius: 60%" />
                    </nobr>
                </li>
               
                <li>
                    @Html.DisplayFor(modelItem => item.Platform)
                </li>
                <li>
                    @Html.DisplayFor(modelItem => item.Developer)
                </li>
            </ul>
        }
    </div>*@
    
</div>
