﻿@page
@model RawCritic2.Pages.SearchResults
@{
    ViewData["Title"] = "PS3";
}
<h2>PS3</h2>
<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].GameID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Developer)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Game[0].AggregatedRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Game)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    <img src="@item.Cover" height=" 100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AggregatedRating)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
