@page
@model RawCritic.Web.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
@*<h2>@ViewData["Title"]</h2>*@
<h3>@Model.Message<br/></h3>

<p>Feel free to contribute!<br/>Many thanks to the IGDB API without which the data would not be available!</p>
