@page
@model RawCritic.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>*@
@*<h3>@Model.Message</h3>*@



<address>
    <strong>For any queries contact me at:</strong> <a href="mailto:siustis.teodor@gmail.com">siustis.teodor@gmail.com</a>
</address>
