<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="GoogleCloudSamples:ProjectId" value="rawcritic" />
      <!--
    Set to either mysql, sqlserver or datastore.
    If using mysql or sqlserver, update the connectionString far below, and then run Add-Migration Init; Update-Database 
    in the Package Manager Console.
    -->
      <add key="GoogleCloudSamples:Rawcritic" value="sqlserver" />
    </appSettings>
    <system.webServer>
     
      <defaultDocument>
        <files>
          <add value="Index" />
        </files>
      </defaultDocument>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44339" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
      
    </system.webServer>
  </location>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add  name ="DefaultConnection" connectionString ="Data Source=34.65.88.171;Initial Catalog=rawcritic;Integrated Security=False;User ID=rawcriticuser;Password=test;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>