/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

tr {
    height:50px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 1090px) {
   
   
}
.games-single-page  {
    width: 100%;
}
.games-single-page .container {
    width:100%;
}
.game {
    margin-left: calc(50% - 50vw);
    width: 100vw;
    height:55vw;
}
    .nav >li {
    border-style: none;
}
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
    background-color: #323740;
    padding-right:20px;
    padding-bottom:20px;
    padding-top:10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    float: right;
    display: flex;
    justify-content: center;
    caret-color: transparent;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 200px;
    caret-color: red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
}
.carousel-inner .img-fluid {
    height: -o-calc(100vh) !important;
    height: -webkit-calc(100vh - 165px) !important;
    height: -moz-calc(100vh - 165px) !important;
    height: calc(100vh - 165px) !important;
    overflow: hidden;
    display: inline-block;
    text-align: center;
}
a {
    text-decoration:none;
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
.carousel-control span {
    display: inline-block;
    position: absolute;
    top: 50%;
    z-index: 5;
}
.carousel-item .img-fluid {
    width: 100%;
    height: auto;
}
.carousel-item a {
    display: block;
    width: 100%;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.expand {
    height: 1em;
    padding: 2px;
    overflow: hidden
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
li{
    border-bottom: 1px solid black;
}
    /* QR code generator */
    #qrCode {
    margin: 15px;
}

svg {
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}



.low .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.med .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.high .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.low-small .circle_animation {
    -webkit-animation: low 1s ease-out backwards;
    animation: low 1s ease-out backwards;
}
.med .circle_animation {
    -webkit-animation: med 1s ease-out backwards;
    animation: med 1s ease-out backwards;
}
.med-small .circle_animation {
    -webkit-animation: med 1s ease-out backwards;
    animation: med 1s ease-out backwards;
}

.high-small .circle_animation {
    -webkit-animation: high 1s ease-out backwards;
    animation: high 1s ease-out backwards;
    width:10% !important;
}

@-webkit-keyframes low {
    to {
        stroke-dashoffset: 250;
    }
}

@keyframes low {
    to {
        stroke-dashoffset: 250;
    }
}

@-webkit-keyframes med {
    to {
        stroke-dashoffset: 160;
    }
}

@keyframes med {
    to {
        stroke-dashoffset: 160;
    }
}
@-webkit-keyframes high{
    to {
        stroke-dashoffset: 10;
    }
}

@keyframes high {
    to {
        stroke-dashoffset: 10;
    }
}
@-webkit-keyframes low-small {
    to {
        stroke-dashoffset: 250;
    }
}

@keyframes low-small {
    to {
        stroke-dashoffset: 250;
    }
}

@-webkit-keyframes med-small {
    to {
        stroke-dashoffset: 160;
    }
}

@keyframes med-small {
    to {
        stroke-dashoffset: 160;
    }
}

@-webkit-keyframes high-small {
    to {
        stroke-dashoffset: 700;
    }
}

@keyframes high-small {
    to {
        stroke-dashoffset: 700;
    }
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    cursor: pointer;
}
.low {
    border-radius: 60%;
    width: 36px;
    height: 36px;
    padding: 16px;
    margin-right: 10px;
    margin-bottom:20px;
    background: #F52716;
    border: 2px solid #F52716;
    color: #fff;
    text-align: center;
    font: 32px Arial, sans-serif;
}
.med {
    border-radius: 60%;
    width: 36px;
    height: 36px;
    padding: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #c9f013;
    border: 2px solid #c9f013;
    color: #fff;
    text-align: center;
    font: 16px Arial, sans-serif;
}
.high {
    border-radius: 60%;
    width: 36px;
    height: 36px;
    padding: 16px;
    margin-right: 10px;
    margin-bottom: 20px;
    background: #00aa19;
    border: 2px solid #00aa19;
    color: #fff;
    text-align: center;
    font: 16px Arial, sans-serif;
}