﻿@page
@model RawCritic2.Pages.Games.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<section class="games-single-page">
    <div class="container">
        @if (Model.Game.BigCover != null)
        {
        <div class="game">
            <img src="@Html.DisplayFor(model => model.Game.BigCover)" class="img-responsive" style="width:auto" alt="">
        </div>
        }

        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 game-
                 
                 ">
                @{
                    string ratingClass = "";
                    string ratingClassSmall = "";
                    string ratingColor = "";

                    if (@Model.Game.AggregatedRating >= 80)
                    {
                        ratingClass = "high";
                        ratingClassSmall = "high-small";
                        ratingColor = "#03fc56";
                    }
                    else if (@Model.Game.AggregatedRating < 80 && @Model.Game.AggregatedRating >= 50)
                    {
                        ratingClass = "med";
                        ratingClassSmall = "med-small";
                        ratingColor = "#dbfc03";
                    }
                    else if (@Model.Game.AggregatedRating < 50)
                    {
                        ratingClass = "low";
                        ratingClassSmall = "low-small";
                        ratingColor = "#d9042b";
                    }
                }
                <h2 class="title"> @Html.DisplayFor(model => model.Game.Title)</h2>
                <div class="item @ratingClass">

                    @{ var rating = Model.Game.AggregatedRating.ToString("N0"); }
                    <h2>@rating</h2>
                    <svg width="160" height="160" xmlns="http://www.w3.org/2000/svg">
                        <g>
                            <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="@ratingColor" fill="none" />
                        </g>
                    </svg>
                </div> <h2> @Html.DisplayFor(model => model.Game.Title)</h2>
                <h2>Game Information</h2>
                <hr />
                @*Available on:   <ul>*@
                @*@foreach (var item in Model.GetPlatforms(Model.Game.platforms))
        {
                            <li>item</li>
        }
        </ul>*@
                <table>
        <tr><td>Available on:</td></tr>
        <tr>
            @*@foreach (var item2 in Model.GetPlatforms(Model.Game.platforms))
        {*@
            @{ string platforms = Model.GetPlatforms(Model.Game.platforms);}
            <td style="white-space: pre-line"> @Html.Raw(System.Web.HttpUtility.HtmlEncode(platforms))</td>
            @*}*@
        </tr>
            <tr>
                @Html.DisplayFor(model => model.Game.ReleaseDate)
            </tr>
        </table>
                <h3>Summary</h3>
                <p>@Html.DisplayFor(model => model.Game.Summary)</p>
                @if (Model.Game.Storyline != null)
                {
                    <h3>Story</h3>
                    <div id="content" class="expand">@Html.DisplayFor(model => model.Game.Storyline)</div>
                }
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
                <div id="stickySidebar">


                    <h2>Available now</h2>

                    <ul class="nav">
                        @foreach (var item in Model.GetGamesHighScore(70))
                        {
                            var ratingSide = item.AggregatedRating.ToString("N0"); 

                            <li>
                                <nobr>
                                    <a asp-page="./Details" asp-route-id="@item.GameID"><div class="item @ratingClassSmall">

    <h3>@ratingSide</h3>
    <svg width="55" height="35" xmlns="http://www.w3.org/2000/svg">
        <g>
            <circle id="circle" class="circle_animation" r="20" cy="20" cx="20" stroke-width="2" stroke="@ratingColor" fill="none" />
        </g>
    </svg>
</div> @item.Title</a> <img src="@item.Cover" height="50px" style="border-radius: 60%" />
                                </nobr>
                            </li>


                            <li>
                                @item.Platform
                            </li>
                            <li>
                                @item.Developer
                            </li>
                        }
                    </ul>

                </div>

                @*<h2>Upcoming Releases</h2>

                <ul class="nav">

                    <li>
                        <h6>@Html.DisplayFor(model => model.Game.AggregatedRating)</h6>    @Html.DisplayFor(model => model.Game.Title)  <img src="@Model.Game.Cover" height="50px" style="border-radius: 60%" />
                    </li>

                    <li>
                        @Html.DisplayFor(model => model.Game.Platform)
                    </li>
                    <li>
                        @Html.DisplayFor(model => model.Game.Developer)
                    </li>
                </ul>


                <h2>Reviewed today</h2>

                <ul class="nav">
                    <li>
                        <h6>@Html.DisplayFor(model => model.Game.AggregatedRating)</h6> @Html.DisplayFor(model => model.Game.Title)  <img src="@Model.Game.Cover" height="50px" style="border-radius: 60%" />
                    </li>


                    <li>
                        @Html.DisplayFor(model => model.Game.Platform)
                    </li>
                    <li>
                        @Html.DisplayFor(model => model.Game.Developer)
                    </li>
                </ul>*@




            </div>
        </div>
    </div>
</section>
@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Game.GameID">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>
}
