﻿@page "{currentpage:int?}"
@model RawCritic2.Pages.Games.IndexModel

@{
    ViewData["name"] = "Index";
}


@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-page="Create">Create New</a>
    </p>
}



<div class="container">

    <div class="col-md-9 right">
        <table class="table">
            <thead>
                <tr>

                    @*<th>
                        @Html.DisplayNameFor(model => model.Game[0].Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Game[0].ReleaseDate)
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                      
                    @*</th>*@


                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Data)
                {

                        string ratingClass = "";
                        string ratingClassSmall = "";
                        string ratingColor = "";

                        if (item.AggregatedRating >= 80)
                        {
                            ratingClass = "high";
                            ratingClassSmall = "high-small";
                            ratingColor = "#03fc56";
                        }
                        else if (item.AggregatedRating < 80 && item.AggregatedRating >= 50)
                        {
                            ratingClass = "med";
                            ratingClassSmall = "med-small";
                            ratingColor = "#dbfc03";
                        }
                        else if (item.AggregatedRating < 50)
                        {
                            ratingClass = "low";
                            ratingClassSmall = "low-small";
                            ratingColor = "#d9042b";
                        }
                
                var rating = item.AggregatedRating.ToString("N0");
                var ratingSide = item.AggregatedRating.ToString("N0");
                <tr>

                    <td>
                        @if (item.AggregatedRating != 0)
                        {
                            <div class="item @ratingClassSmall">

                                <h3>@ratingSide</h3>
                                <svg width="55" height="35" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <circle id="circle" class="circle_animation" r="20" cy="20" cx="20" stroke-width="2" stroke="@ratingColor" fill="none" />
                                    </g>
                                </svg>
                            </div>
                        }
                        else
                        {
                            @:?
                        }
                        <a asp-page="./Details" asp-route-id="@item.GameID">  @Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        <img src="@item.Cover" height=" 100" />
                    </td>

                    <th>
                        @{ string platforms = Model.GetPlatforms(item.platforms);}
                        @Html.Raw(System.Web.HttpUtility.HtmlEncode(platforms))
                    </th>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |

                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
        <div class="sidebar-nav pull-right">
            <div class="well">
                <h2>Available now</h2>
                @foreach (var item in Model.GetGames(5))

                {
                    var ratingSide = item.AggregatedRating.ToString("N0"); 
                       string ratingClass = "";
                        string ratingClassSmall = "";
                        string ratingColor = "";

                        if (item.AggregatedRating >= 80)
                        {
                            ratingClass = "high";
                            ratingClassSmall = "high-small";
                            ratingColor = "#03fc56";
                        }
                        else if (item.AggregatedRating < 80 && item.AggregatedRating >= 50)
                        {
                            ratingClass = "med";
                            ratingClassSmall = "med-small";
                            ratingColor = "#dbfc03";
                        }
                        else if (item.AggregatedRating < 50)
                        {
                            ratingClass = "low";
                            ratingClassSmall = "low-small";
                            ratingColor = "#d9042b";
                        }
                    var rating = item.AggregatedRating.ToString("N0");
                    <ul class="nav">
                        <a asp-page="./Details" asp-route-id="@item.GameID">
                            <li>
                                @if (item.AggregatedRating != 0 || item.AggregatedRating != null)
                                {
                                    <div class="item @ratingClassSmall">
                                        <h3>@ratingSide</h3>
                                        <svg width="55" height="35" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <circle id="circle" class="circle_animation" r="20" cy="20" cx="20" stroke-width="2" stroke="@ratingColor" fill="none" />
                                            </g>
                                        </svg>
                                    </div>
                                }
                                else
                                {
                                    @:?
                                } @Html.DisplayFor(modelItem => item.Title)
                                <img src="@item.Cover" height=" 50" style="border-radius: 60%" />
                            </li>
                        </a>


                        <li>
                            @Html.DisplayFor(modelItem => item.Platform)
                        </li>
                        <li>
                            @Html.DisplayFor(modelItem => item.Developer)
                        </li>
                    </ul>
                }
            </div>

            @*<h2>Upcoming Releases</h2>
            @foreach (var item in Model.Game)
            {
                <ul class="nav">
                    <li>
                        <nobr>
                            @Html.DisplayFor(modelItem => item.AggregatedRating)
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                        </nobr>
                        <img src="@item.Cover" height=" 50" />
                    </li>


                    <li>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </li>
                    <li>
                        @Html.DisplayFor(modelItem => item.Developer)
                    </li>
                </ul>
            }

            <h2>Reviewed today</h2>
            @foreach (var item in Model.Game)
            {
                <ul class="nav">
                    <li>
                        <nobr>
                            @Html.DisplayFor(modelItem => item.AggregatedRating)
                            <a asp-page="./Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                            <img src="@item.Cover" height=" 50" />
                        </nobr>
                    </li>


                    <li>
                        @Html.DisplayFor(modelItem => item.Platform)
                    </li>
                    <li>
                        @Html.DisplayFor(modelItem => item.Developer)
                    </li>
                </ul>
            }*@

        </div>
    </div>
   
</div>
<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="./Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>