/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.expand {
    height: 1em;
    padding: 2px;
    overflow: hidden
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
li{
    border-bottom: 1px solid black;
}
    /* QR code generator */
    #qrCode {
    margin: 15px;
}

.item{
    position: relative;
    float: left;
}
   
.item h2 {
    text-align: center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}
    .item h3 {
        text-align: center;
        position: absolute;
        width: 100%;
    }
svg {
    transform: rotate(-90deg);
}

.circle_animation {
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}



.low .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.med .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.high .circle_animation {
    -webkit-animation: low 1s ease-out forwards;
    animation: low 1s ease-out forwards;
}
.low-small .circle_animation {
    -webkit-animation: low 1s ease-out backwards;
    animation: low 1s ease-out backwards;
}
.med .circle_animation {
    -webkit-animation: med 1s ease-out backwards;
    animation: med 1s ease-out backwards;
}
.med-small .circle_animation {
    -webkit-animation: med 1s ease-out backwards;
    animation: med 1s ease-out backwards;
}

.high-small .circle_animation {
    -webkit-animation: high 1s ease-out backwards;
    animation: high 1s ease-out backwards;
}

@-webkit-keyframes low {
    to {
        stroke-dashoffset: 250;
    }
}

@keyframes low {
    to {
        stroke-dashoffset: 250;
    }
}

@-webkit-keyframes med {
    to {
        stroke-dashoffset: 160;
    }
}

@keyframes med {
    to {
        stroke-dashoffset: 160;
    }
}
@-webkit-keyframes high{
    to {
        stroke-dashoffset: 10;
    }
}

@keyframes high {
    to {
        stroke-dashoffset: 10;
    }
}
@-webkit-keyframes low-small {
    to {
        stroke-dashoffset: 250;
    }
}

@keyframes low-small {
    to {
        stroke-dashoffset: 250;
    }
}

@-webkit-keyframes med-small {
    to {
        stroke-dashoffset: 160;
    }
}

@keyframes med-small {
    to {
        stroke-dashoffset: 160;
    }
}

@-webkit-keyframes high-small {
    to {
        stroke-dashoffset: 700;
    }
}

@keyframes high-small {
    to {
        stroke-dashoffset: 700;
    }
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
ul,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li {
    cursor: pointer;
}